<html ng-app="n17">
	<head>
		<title>Password Strength Tester</title>
		<link href="../dist/n17-password-strength.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="../dist/inc-frameworks/n17-password-strength.js"></script>
		<script type="text/javascript">
			angular.module('n17', ['n17-validators']);
		</script>
	</head>

	<body style="margin-top: 50px;">
		<form novalidate name="testForm">
			<input type="password" name="password" ng-model="user.password" />
			<span target="password" type="pill" ng-model="user.password" min-length="4" complexity="6" charsets="3" password-strength></span>
		</form>
	</body>
</html>